.topo {
    background-color: #e0e0e0;
    padding: 10px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
    /* background-image: url("../img/imagemfundo.jpg");
        background-position: 0 -100px; */
}

.corpo {
    padding-block: 60px;
    max-width: 80vw;
    margin: auto;
}

.rodape {
    background-color: #e0e0e0;
    padding: 50px;
    height: 20vh;
    /* background-image: url("../img/imagemfundo.jpg"); */
    background-position: 0 800px;


}