.topo {
    background-color: white;
    padding: 10px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
    border-bottom: 1px solid #cac8c8;
    /* background-image: url("../img/imagemfundo.jpg");
        background-position: 0 -100px; */
}

.corpo {
    padding-block: 60px;
    max-width: 80vw;
    margin: auto;
}

.rodape {
    background-color: white;
    padding: 10px 20px;
    height: 12vh;
    /* background-image: url("../img/imagemfundo.jpg"); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-top: 1px solid #cac8c8;
}